@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Righteous&family=Sarala:wght@400;700&display=swap");

* {
  text-decoration: none;
}

.titulo {
  color: #898aa6;
  font-family: "Sarala", sans-serif;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 1rem;
}

.Menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30px;
  justify-content: space-around;
  padding: 24px;
}

.Menu nav a {
  border: 1px solid #b7d3df;
  border-radius: 10px;
  color: rgb(10, 10, 10);
  font-family: "Sarala", sans-serif;

  font-weight: 400;
  font-size: 18px;
  padding-inline: 5px;
}

.Menu nav {
  display: flex;
  gap: 32px;
}

.Menu nav a:hover {
  background: #3f3e3e20;
}

@media screen and (min-width: 768px) {
  .Menu {
      flex-direction: row;
      justify-content: space-around;
     

      
  }
}
/* @media screen and (min-width: 1024px) {
  .Menu {
      flex-direction: row;
      justify-content: space-between;
      gap:1px;

      
  }
} */