@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    text-decoration: none;
}

.titulo {
    margin-right: 400px;
    font-family: 'Sarala', sans-serif;
    color: rgb(10, 10, 10);
    font-weight: 300;
    font-size: 22px;
}

.Menu {
    background-color: #f7cae4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    height: 30px;
}

.Menu nav a {
    font-family: 'Sarala', sans-serif;
    border:1px solid #79A7D6;
    border-radius: 10px;
    padding-inline: 5px;
    color: rgb(10, 10, 10);
    font-weight: 400;
    font-size: 18px;
}

.Menu nav {
    display: flex;
    gap: 32px;
}

.Menu nav a:hover {
    background: #3f3e3e20;
}