.Content {
  align-items: center;
  border-top: 0.4px solid #c9bbcf;
  height: calc(100% - 27px - 78px);
  justify-content: center;
  margin-bottom: 0px;
  text-align: center;
}

@media screen and (max-width: 1024px){
  .Content{
    border-top: none;
  }
}
