@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    text-decoration: none;
}

.titulo {
    margin-right: 400px;
    font-family: 'Sarala', sans-serif;
    /* color: rgb(54, 163, 235); */
    color: rgb(225, 243, 255);
    font-weight: 300;
    font-size: 22px;
}

.Menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    
}

.Menu nav a {
    font-family: 'Sarala', sans-serif;
    color: rgb(244, 250, 253);
    font-weight: 400;
    font-size: 18px;
}

.Menu nav {
    display: flex;
    gap: 32px;
}

.Menu nav a:hover {
    background: #3f3e3e20;
}