.content-projects {
  height: calc(100% - 27px - 78px);
}

.image-projects {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-right: 5px;
  margin-inline: auto;
  max-height: 200px;
  padding-bottom: 23px;
}

.link {
  border: 2px solid #898aa6;
  border-radius: 15px;
  padding-inline: 10px;
}

.project {
  display: block;
}

.projects {
  display: grid;
  grid-area: content;
  grid-template-areas: "content" "footer";
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 33.33% 33.33% 33.33%;
}

.titulo-projects {
  color: #898aa6;
  font-size: 25px;
  font-weight: 500;
  padding: 45px;
  padding-top: 15px;
  text-align: center;
}

.blur {
  filter: blur(5px);
}

@media screen and (max-width: 1024px) {
  .projects{
    display: grid;
    grid-area: content;
    
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% ;
      
  }
  .image-projects{
    max-height: 210px;
  }
}

@media screen and (max-width: 480px){
  .projects{
    display: grid;
    grid-area: content;
    
    grid-template-columns: 45% 45% ;
    grid-template-rows: 25% 25%;
}
.image-projects{
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-right: 5px;
  margin-inline: auto;
  max-height: 155px;
  padding-bottom: 23px;
}
}
@media screen and (max-width: 720px){
  .projects{
    display: grid;
    grid-area: content;
    grid-template-areas: "content" "footer";
    grid-template-columns: 35% 35% ;
    grid-template-rows: 49% 49%;
}
.link {
  border-radius: 15px;
  padding-inline: 10px;
}
.titulo-projects{
  font-size: 18px;
}
.image-projects{
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-right: 5px;
  margin-inline: auto;
  max-height: 145px;
  padding-bottom: 23px;
}

}