.titulo-projects {
    color: rgb(255, 255, 255);
    font-family: 'Sarala';
    text-align: center;
    padding: 45px;
    padding-top: 10px;
}

.content-projects {
    scroll-behavior: auto;
    justify-content: space-around;
    align-items: center;
}


.image-projects{
   display: flex;
    flex-direction: column;
    margin-right: 5px;
    max-width: 200px;
    max-height: 200px;

    

    
}

.projects{
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
}

