.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-family: 'Sarala';
    font-size: 20px;
    padding: 90px;
    padding-top: 60px;
}
.first-text-contact{
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 0px;
    text-align: center;
    font-weight: 200;
}


.text-info{
    display: flex;
    flex-direction: column;
    font-family: 'Sarala';
    font-size: 10px;}

    .background {

        display: flex;
        flex-direction: column;
        margin: 10px;
        justify-content: space-between;
        background-color: #fff;
        color: #000;
        padding: 80px 80px 80px 80px;
    
    }