.about {
  font-family: "Nunito", sans-serif;
  justify-content: space-around;
  
}

.background {
  background-color: #fff;
  color: rgb(10, 10, 10);
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 100px 90px 100px 90px;
}

.btn {
  display: inline-block;
  background: #69779b;
  color: #fff;
  font-size: 18px;
  font-weight: 500;

  transition: all 0.3s ease;

  position: absolute;
  top:98%;
  right: 70%;

  border-radius: 25px;
  margin: 10px;
  padding: 15px 35px;
  border: none;
  outline: none;
}

.img-about{
  position: absolute;
  width: 550px;
}

.text-principal {
  color: rgb(10, 10, 10);
  display: flex;
  flex-direction: row;

  padding: 45px;
  padding-top: 10px;
}

.text-about {
  position: relative;
  left: 10%;
  width: 100%;
}
.text-about-about {
  color: rgb(10, 10, 10);
  font-size: 20px;
  font-family: "Nunito", sans-serif;
  text-align: justify;
  width: 80%;
  font-weight: 400 !important;
  
  font-weight: 400 ;

}

.first-text-about {
  color: #69779B;
  font-size: 30px;
}

.algo {
  display: flex;
  width: 82%;
  
  margin: auto;
  
}

@media screen and (max-width: 1024px) {
  
  .algo{
    width: 100%;
    display: block;
    font-size: 15px;
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
    justify-content: center;
    
    
    
  }

  .about{
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    width: 100%;
    
  }

  .btn{
    margin: auto;
    border-radius: 15px;
    padding: 5px 15px;
    font-size: 12px;
  }

.first-text-about{
  padding-top: 30px;
  font-size: 22px;
}

  

  .text-about-about{
    font-size: 13px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: justify;
   
    
    width: 100%;

     left: -85%;
    align-items: center;
  }

  .img-about{
    display:flex;
   
    width:35%;
    margin-left: 2%;
    
  }


  
}

@media screen and (max-width: 720px){
  .about{
    gap:1px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .algo{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
  }
  .text-about{
   display: block;
   left: unset;
   width: unset;
  }
  .btn{
    align-items: center;
    margin-top: center;
    border-radius: 15px;
    padding: 5px 15px;
    font-size: 12px;
  }
  .text-about-about{
    width: 100%;
  }
}