.about {
  font-family: "Nunito", sans-serif;
  justify-content: space-around;
  
}

.background {
  background-color: #fff;
  color: rgb(10, 10, 10);
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 100px 90px 100px 90px;
}

.btn {
  display: inline-block;
  background: #69779b;
  color: #fff;
  font-size: 18px;
  font-weight: 500;

  transition: all 0.3s ease;

  position: absolute;
  top:98%;
  right: 75%;

  border-radius: 25px;
  margin: 10px;
  padding: 15px 35px;
  border: none;
  outline: none;
}

.img-about{
  position: relative;
  width: 550px;
}

.text-principal {
  color: rgb(10, 10, 10);
  display: flex;

  justify-content: center;

  padding: 45px;
  padding-top: 10px;
}

.text-about {
  
  position: absolute;
  left: 50%;
  
}
.text-about-about {
  color: rgb(10, 10, 10);
  font-size: 20px;
  font-family: "Nunito", sans-serif;
  text-align: justify;
  width: 80%;
  font-weight: 400 !important;

  
}

.first-text-about {
  color: #69779B;
  font-size: 30px;
}



.algo {
  display: flex;
}

@media screen and (max-width: 1024px) {
  
  .algo{
    align-items: center;
    display: block;
  }

  .about{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    width: 100%;
    
  }

  .btn{
    border-radius: 15px;
    margin: 5px;
    padding: 5px 15px;
    font-size: 12px;

  }

  .text-about{
    display: flex;
    flex-direction: column;
    width: 60%;
    flex-wrap: wrap;
    
  }

  .text-about-about{
    display: flex;
    flex-direction: column;
    font-size: 12px;
  }

  .img-about{
    display: flex;
    flex-direction: column;
    
    width: 70%;
    align-items: center;
  }


  
}
