.about{
    font-family: 'Nunito', sans-serif;
    
}

.background {

    display: flex;
    flex-direction: column;
    margin: 10px;

    background-color: #fff;
    Color: rgb(10, 10, 10);;
    padding: 100px 90px 100px 90px;

}

.text-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(10, 10, 10);
    padding: 45px;
    padding-top: 10px;
}

.text-about{
    color: rgb(10, 10, 10);
    font-size: 10px;
    

}

.first-text-about{
    font-size: 30px;
    color: rgb(10, 10, 10);
}

h1{
    font-weight: 400;
    text-align: justify;
    max-width: 850px;
    margin-left: 55px;
    
}
    

.algo {
    display: flex;
}

.btn{        
    display: inline-block;
    background: #f7cae4;;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border: 2px solid #f7cae4;
    transition: all 0.3s ease;

    position: absolute; 
    top:55%; 
    left:60%;

   

    border-radius: 25px;
    margin: 10px;
    padding: 15px 35px;
    border: none;
    outline: none;
    
}