.Footer{
    width: 100%;
    background-color: #537891;
    padding-block: 1px;
    position: relative;
    top: 100%;
    
}

    


.text-footer{
        font-size: 15px;
    font-family: 'Sarala';
    font-weight: 200;
    text-align:center;
}