.Footer{
    background-color: #79A7D6;
    grid-area: footer;

    padding-block: 1px;
    position: relative;
    width: 100%;
  
       

}

.text-footer{
    color: bisque; 

    font-family: 'Nunito', sans-serif;
    font-size: 9px;
    font-weight: 400;

    margin-inline: auto;

    text-align: center;
}