body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to top, #c2d0da, #575292); 
   /*  background-color: #79A7D6; */
   height:100vh;
}

.text {
    font-weight: 300;
    font-size: 5rem;
}

.input {
    font-weight: 300;
    font-size: 4rem;
    margin: 20px 0px;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}