a{
    color: #69779B;
}
.text-principal {
  color: rgb(10, 10, 10);
  font-family: "Nunito", sans-serif;
  padding: 45px;
  padding-top: 10px;
  text-align: center;
}

.content-skills {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 80%;
  justify-content: space-around;
}

.first-text-skill{
  align-items: center;
  color: #69779B;
  font-size: 30px;
  font-weight: 500;
}

.icon-skills {
  display: flex;
 
  width: 95%;
}

.skills{
  padding-top: 5px;
}

.text-skills-skills {

  color: rgb(10, 10, 10);
  font-size: 20px;
  left:70% ;
  margin: 10px;
  padding-top: 15px;
  text-align:justify;
  width: 85%;
}

@media screen and (max-width: 1024px){
  .skills{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .icon-skills{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
  }
  .first-text-skill{
    padding-top: 30px;
    font-size: 22px;
  }
  .text-skills-skills{
    font-size: 15px;
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
    justify-content: center;
    text-align: justify;
  }
}