a{
    color: #69779B;
}

.content-skills {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 80%;
  justify-content: space-around;
}

.first-text-skill{
  align-items: center;
  color: #69779B;
  font-size: 30px;
  font-weight: 500;
}

.icon-skills {
  display: flex;
  width: 95%;
}

.skills{
  padding-top: 5px;
}

.text-principal {
  color: rgb(10, 10, 10);
  font-family: "Nunito", sans-serif;
  padding: 45px;
  padding-top: 10px;
  text-align: center;
}

.text-skills-skills {
  color: rgb(10, 10, 10);
  font-size: 20px;
  left:70% ;
  margin: 10px;
  padding-top: 15px;
  text-align:justify;
  width: 85%;
}

@media screen and (max-width: 1024px){
.first-text-skill{
  font-size: 22px;
}

.icon-skills{
  align-items: center;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
  width: 42%;
}

.skills{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
    
}

.text-skills-skills{
    align-items: center;
    font-size: 16px;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: -25px;
    text-align: justify;
    width: 100%;
  }

.text-skill{
  align-items: center;
  justify-content: center;
  left: -85%;
  text-align: justify;
  width: 100%;
 
}
}

@media screen and (max-width: 480px){
.first-text-skill{
  align-items: center;
  text-align: center;
  padding-top: 40px;
  font-size: 24px;
} 

.icon-skills{
  width: 69%;
}

.skills{
  align-items: center;
  width: 100%;
}

.text-skills-skills{
  align-items: center;
  font-size:16px;
  margin-left: 3px;
  width: 100%;
  }

}