a{
    color: #69779B;
}
.text-principal {
  color: rgb(10, 10, 10);
  font-family: "Nunito", sans-serif;
  padding: 45px;
  padding-top: 10px;
  text-align: center;
}

.content-skills {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 80%;
  justify-content: space-around;
}

.first-text-skill{
  align-items: center;
  color: #69779B;
  font-size: 30px;
  font-weight: 500;
}

.icon-skills {
  display: flex;
 
  width: 95%;
}

.skills{
  padding-top: 5px;
}

.text-skills-skills {

  color: rgb(10, 10, 10);
  font-size: 20px;
  left:70% ;
  margin: 10px;
  padding-top: 15px;
  text-align:justify;
  width: 85%;
}

@media screen and (max-width: 1024px){
  .skills{
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
    
    width: 100%;
    
  }
  .icon-skills{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 42%;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
  }
  .first-text-skill{
    font-size: 22px;
  }
  .text-skills-skills{
    font-size: 15px;
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
    justify-content: center;
    text-align: justify;
    margin-top: -35px;
  }
  .text-skill{
    align-items: center;
    justify-content: center;
    text-align: justify;
    width: 100%;
     left: -85%;
    align-items: center;
    
  }
}
@media screen and (max-width: 480px){
  .icon-skills{
    width: 69%;
  }
  .first-text-skill{
    align-items: center;
    text-align: center;
    padding-top: 40px;
    font-size: 24px;
  }
  .text-skills-skills{
    width: 100%;
    font-size:16px;
    align-items: center;
    margin-left: 3px;
  }
  .skills{
    align-items: center;
    width: 100%;
  }
}